/* Define local fonts */

/* Maison Neue */
@font-face {
	src: url("./fonts/MaisonNeue-Book.woff2") format("woff2"),
			 url("./fonts/MaisonNeue-Book.woff") format("woff"),
			 url("./fonts/MaisonNeue-Book.otf") format("otf");
	font-family: "MaisonNeue";
}

/* TT Contrast */
@font-face {
	src: url("./fonts/TTContrast.woff2") format("woff2");
	font-family: "TTContrast";
}

/* Windows 98 MS Sans Serif */
@font-face {
	src: url("./fonts/ms_sans_serif_bold.woff") format("woff");
	src: url("./fonts/ms_sans_serif_bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-family: "Pixelated MS Sans Serif";
}

/* Tapeworm */
@font-face {
	src: url("./fonts/Tapeworm.woff2") format("woff2"),
			 url("./fonts/Tapeworm.woff") format("woff"),
			 url("./fonts/Tapeworm.otf") format("otf");
	font-family: "Tapeworm";
}

/* Terminal Grotesque */
@font-face {
	src: url("./fonts/terminal-grotesque.woff2") format("woff2"),
			 url("./fonts/terminal-grotesque.woff") format("woff"),
			 url("./fonts/terminal-grotesque.otf") format("otf");
	font-family: "TerminalGrotesque";
}

/* Fodor */
@font-face {
	src: url("./fonts/Fodor Regular.woff2") format("woff2"),
			 url("./fonts/Fodor Regular.woff") format("woff"),
			 url("./fonts/Fodor Regular.otf") format("otf");
	font-family: "Fodor";
}
