@use "helpers";

/* SF Mono */
@include helpers.define_font("SFMono-Medium", "SFMono", medium);
$mono: SFMono, "Courier", monospace;

@mixin simple {
	position: fixed;
	left: 12vw;
	top: 15vh;
	max-width: 64ch;
	font-family: $mono;
	font-weight: medium;
	font-size: 0.85em;
	line-height: 1.25;
	color: #777;

	a {
		color: #777;
	}

	.divider {
		padding: 0.2em 0em;
	}

	.home {
		padding-top: 1.5em;
		a {
			font-style: oblique;
			text-decoration: none;
		}
	}

	span {
		& > a {
			display: block;
			text-decoration: none;
		}
	}
}
