@import url("fonts.css");

:root {
	--windows98-gradient: linear-gradient(90deg, #000080, #1084d0);
	--surface: #c0c0c0;
	--slight-shadow: 2px 4px 18px rgba(0, 0, 0, 0.2);
	--slight-shadow-hover: 3px 6px 24px rgba(0, 0, 0, 0.5);
	--raised-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
	--sunken-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
	--sans: MaisonNeue, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	height: 100%;
}

body {
	font-family: var(--sans); 
}

#desktop {
	visibility: visible;
}

#mobile {
	visibility: hidden;
	padding: 1em;
	display: block;
	overflow: hidden;
}

#mobile button {
	font-family: "Fodor";
	color: black;
	letter-spacing: 1px;
	width: 100%;
	padding: 10px 0px 10px 0.65em;
	text-align: left;
	font-size: 2em;
	border-radius: 2em;
	background: linear-gradient(35deg, #ffffff, #fafafa);
	box-shadow: 0.15em 0.15em 0.2em #ccc, -0.15em -0.15em 0.15em #eee;
}

#mobile button:hover {
	cursor: pointer;
}

#mobile button img {
	position: absolute;
	right: 1em;
	height: 0.85em;
}

nav {
	position: relative;
	margin-top: 0.5em;
	z-index: 1;
	background: #f8f8f8;
	box-shadow: inset 0.15em 0.15em 0.2em #ccc, inset -0.15em -0.15em 0.15em #eee;
	font-size: 2em;
	border-radius: 1em;
	padding: 0.35em 0.2em;
	width: 100%;
}

#menu {
	display: none;
}

nav a {
	font-family: "Fodor";
	letter-spacing: 1px;
	display: block;
	border-radius: 2em;
	padding: 0.25em 0em 0.25em 0.6em;
}

nav a img {
	height: 1em;
	padding: 0.2em 0.1em 0em 0.1em;
}

nav a > span {
	font-family: "TerminalGrotesque";
	margin: 0px 1px;
}

nav a:hover {
	background: linear-gradient(35deg, #ffffff, #fafafa);
	box-shadow: 0.15em 0.15em 0.2em #ccc, -0.15em -0.15em 0.15em #eee;
}

#dragable {
	position: absolute;
	display: flex;
	z-index: 9;
}

#dragable #dragzone {
	width: 100%;
	height: 100%;
	z-index: 10;
}

.window {
	position: absolute;
	font-family: "Pixelated MS Sans Serif";
	font-size: 11px;
	box-shadow: var(--raised-shadow), var(--slight-shadow);
	transition: box-shadow 0.2s;
	background: var(--surface);
	padding: 3px 3px 1px 3px;
}

.window.drag {
	box-shadow: var(--raised-shadow), var(--slight-shadow-hover);
}

.window a {
	cursor: pointer;
}

.window img {
	width: 450px;
}

.title-bar {
	cursor: grab;
	background: var(--windows98-gradient);
	padding: 3px 2px 3px 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.window.drag .title-bar {
	cursor: grabbing;
}

.title-bar span {
	font-weight: bold;
	color: white;
	letter-spacing: 0;
	margin: 0px 24px 0px 2px;
}

.title-bar aside {
	display: flex;
}

.title-bar aside button {
	margin-left: 2px;
	padding: 0;
	display: block;
	min-width: 16px;
	min-height: 14px;
	background: var(--surface);
	box-shadow: var(--raised-shadow);
}

.title-bar aside button:active {
	box-shadow: var(--sunken-shadow);
}

.title-bar aside button:focus {
	outline: none;
}

.title-bar aside button[aria-label="Minimize"] {
	background-image: url("../icons/minimize.svg");
	background-repeat: no-repeat;
	background-position: bottom 4px center;
}

.title-bar aside button[aria-label="Maximize"] {
	background-image: url("../icons/maximize.svg");
	background-repeat: no-repeat;
	background-position: top 2px center;
}

.title-bar aside button[aria-label="Close"] {
	background-image: url("../icons/close.svg");
	background-repeat: no-repeat;
	background-position: center;
}

header {
	position: absolute;
	bottom: 0px;
	width: 100%; 
	padding: 1em 8em 1em 2em;
}

p {
	font-family: TTContrast;
	font-size: 1.1em;
	margin: 0.75em 0 0.75em 0;
}

a {
	position: relative;
	display: inline-block;
	bottom: 1px;
	font-family: var(--sans);
	font-size: 0.92em;
	color: black;
	text-decoration: none;
}

hr {
	border-top: 1px solid black;
}

.sans {
	position: relative;
	display: inline-block;
	bottom: 1px;
	font-family: var(--sans);
	font-size: 0.92em;
}

#overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: #fff;
	z-index: 1000;
	text-align: center;
	line-height: calc(0.97 * 100vh);
	font-family: "Tapeworm";
	font-size: 4vw;
}

@media only screen and (max-width: 1000px) {
	#mobile {
		visibility: visible;
	}

	#desktop {
		visibility: hidden;
	}
}
